/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
  .inline {
    display: inline;
  }
  body {
    display: flex;
    flex-direction: column;

    .header {
      background-color: bisque;
      display: flex;
      justify-content: flex-start;

      h1 {
        margin: auto;
      }
      img {
        height: 100px;
        width: 100px;
      }
    }
    #subheader{
      background-color: burlywood;
      display:flex;
      flex-direction: row;
      font-size: medium;
      justify-content: space-between;
      padding: 0.5%;
    }
    #content{
      align-items: stretch;
      display: flex;
      flex-direction: row;
      #left {
        background-color: #c5d0e2;
        flex-basis: 20%;
        padding: 1% 1%;
      }
      #main {
        background-color: antiquewhite;
        flex-basis: 80%;
        padding: 1%;
      }
    }

    .footer{
      background-color: bisque;
      text-align: center;
      padding: 1%;

    }
  }




